[Unit]
Description=Vito Root Service Socket
Documentation=https://github.com/RichardAnderson/vito-local

[Socket]
ListenStream=/run/vito-root.sock
SocketUser=root
SocketGroup=root
SocketMode=0660

[Install]
WantedBy=sockets.target
